*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper::before, 
.wrapper::after{
  position: absolute;
  content: '';
  width: 300px;
  height: 300px;
  transition: all .8s ease-in;
}

.wrapper::before{
  background-image: url('../img/iphone-back.png');
  left: 25%;
  transform: translate(-50%, 200%) rotate(-30deg);
}

.wrapper::after{
  background-image: url('../img/iphone-front.png');
  right: 25%;
  transform: translate(50%, 200%) rotate(30deg);
} 

.wrapper:hover::before, 
.wrapper:hover::after{
  transform: translate(0, 0) rotate(0);
}

.wrapper{
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 50px auto;
  background-color: #000080;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.wrapper img{
  /* transform: translateY(-100%); */
    animation: mavic-off 1s;
}

.wrapper:hover img{
  animation: mavic-on 1s forwards;
}

.text{
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

    @keyframes mavic-on {
  0%{
  transform: translateY(0);
  }

  100%{
  transform: translateY(-100%);
  }
  }
  
  @keyframes mavic-off {
    0% {
      transform: translateY(-100%);
    }
  
    50% {
      transform: translateY(0);
    }
  
    60% {
      transform: translateY(-20px);
    }
  
    70% {
      transform: translateY(0);
    }
  
    80% {
      transform: translateY(-30px);
    }
  
    100% {
      transform: translateY(0);
  }
}